<div id="paging-sort-soldiers-table-div" fxLayout fxLayoutAlign="center center" class="footer">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event)" placeholder="סנן">
  </mat-form-field>
  <mat-paginator [pageSize]="25" [pageSizeOptions]="[25, 50, 100]" dir="rtl" class="mat-paginator-sticky"></mat-paginator>
</div>
    
<mat-table id="warehouseUnitTable" [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> מזהה </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <mat-form-field>
        <input matInput type="text" [value]="element.id" disabled>
      </mat-form-field>   
      </mat-cell>
    </ng-container>
  
    <!-- personalNumber Column -->
    <ng-container matColumnDef="personalNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> מספר אישי </mat-header-cell>
      <mat-cell *matCellDef="let element">     
        <mat-form-field> 
        <input matInput type="text" [value]="element.personalNumber" disabled>
      </mat-form-field>   
      </mat-cell>
    </ng-container>
  
    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> שם פרטי </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <mat-form-field>
        <input matInput  type="text" required [value]="element.firstName" name="firstName-{{element.personalNumber}}" [(ngModel)]="element.firstName" disabled>
      </mat-form-field>
      </mat-cell>
    </ng-container>
  
      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> שם משפחה </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field>
            <input matInput type="text" required [value]="element.lastName" name="lastName-{{element.personalNumber}}" [(ngModel)]="element.lastName" disabled>
          </mat-form-field>
          </mat-cell>
        </ng-container>

            <!-- squad Column -->
    <ng-container matColumnDef="squad">
        <mat-header-cell *matHeaderCellDef mat-sort-header> פלוגה </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field>
          <input matInput type="text" required [value]="element.squad" name="squad-{{element.personalNumber}}" [(ngModel)]="element.squad">
        </mat-form-field>
           </mat-cell>
      </ng-container>
    
      <!-- department Column -->
      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef mat-sort-header> מחלקה </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <mat-form-field>
          <input matInput type="text" required [value]="element.department" name="department-{{element.personalNumber}}" [(ngModel)]="element.department">
        </mat-form-field>
        </mat-cell>
      </ng-container>
    
        <!-- class Column -->
        <ng-container matColumnDef="class">
            <mat-header-cell *matHeaderCellDef mat-sort-header> כיתה </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <mat-form-field>
              <input matInput type="text" required [value]="element.class" name="class-{{element.personalNumber}}" [(ngModel)]="element.class">
            </mat-form-field>
             </mat-cell>
          </ng-container>
  
            <!-- role Column -->
            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef mat-sort-header> תפקיד </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  <mat-form-field>
                  <input matInput type="text" required [value]="element.role" name="role-{{element.personalNumber}}" [(ngModel)]="element.role">
                </mat-form-field>
                </mat-cell>
              </ng-container>
            
              <!-- pakal Column -->
              <!-- <ng-container matColumnDef="pakal">
                <mat-header-cell *matHeaderCellDef mat-sort-header> פק"ל </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-form-field>
                  <input matInput type="text" required [value]="element.pakal.pakal" name="pakal-{{element.personalNumber}}" [(ngModel)]="element.pakal.pakal">
                </mat-form-field>
                  </mat-cell>
              </ng-container> -->

    <!-- delete Column -->
    <!-- <ng-container matColumnDef=" ">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="editNamesList(element.id)"
          mat-icon-button matTooltip="לחץ לעריכה" class="iconbutton" color="warn">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container> -->
  
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>