<mat-table id="warehouseUnitTable" [dataSource]="soldiers" class="mat-elevation-z8">
    
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> מזהה </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- personalNumber Column -->
    <ng-container matColumnDef="personalNumber">
      <mat-header-cell *matHeaderCellDef> מספר אישי </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.personalNumber}} </mat-cell>
    </ng-container>
  
    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> שם פרטי </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}}</mat-cell>
    </ng-container>
  
      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef> שם משפחה </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
        </ng-container>

            <!-- squad Column -->
    <ng-container matColumnDef="squad">
        <mat-header-cell *matHeaderCellDef> פלוגה </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.squad}} </mat-cell>
      </ng-container>
    
      <!-- department Column -->
      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef> מחלקה </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.department}}</mat-cell>
      </ng-container>
    
        <!-- class Column -->
        <ng-container matColumnDef="class">
            <mat-header-cell *matHeaderCellDef> כיתה </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.class}} </mat-cell>
          </ng-container>
  
            <!-- role Column -->
            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef> תפקיד </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
              </ng-container>
            
              <!-- pakal Column -->
              <ng-container matColumnDef="pakal">
                <mat-header-cell *matHeaderCellDef> פק"ל </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.pakal.pakal}}</mat-cell>
              </ng-container>

    <!-- delete Column -->
    <!-- <ng-container matColumnDef=" ">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="editNamesList(element.id)"
          mat-icon-button matTooltip="לחץ לעריכה" class="iconbutton" color="warn">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container> -->
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>