<form>
  <div>
  <mat-form-field floatLabel="always" hideRequiredMarker appearance="fill">
      <mat-select required placeholder='משימה' #taskMatSelect [(value)]="currentTask.id" (selectionChange)="changeCurrentTask($event.value)">
        <mat-option *ngFor='let task of tasks' [value]="task.id"> {{task.name}} </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <span>רשימת שמות מקושרת: </span> 
      <a href="manage/names-list/{{currentTask.id}}">{{currentTask.namesListName}}</a>
  </div>
  </div>
    <div></div>

    <mat-form-field floatLabel="always" hideRequiredMarker appearance="fill">
      <mat-select required placeholder='סטטוס' #statusMatSelect [(value)]="currentTask.status">
        <mat-option *ngFor='let status of taskStatuses' [value]="status.key"> {{status.val}} </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
        <span>משימה נוכחית&#63;</span>
        <mat-checkbox #currentTaskMatCheckbox (change)="toggleCurrentTask()" [checked]="currentTask.currentTask"></mat-checkbox>
    </div>

    <button (click)="saveData()" mat-button mat-raised-button color="primary">שמירה</button>
  </form>

<div class="border2 margin-bottom-30 margin-top-30"></div>

