<app-manage-current-task></app-manage-current-task>

<form>
  <mat-form-field floatLabel="always" hideRequiredMarker appearance="fill">
    <mat-select required placeholder='פק"ל' #pakalMatSelect>
      <mat-option *ngFor='let pakal of pakals' [value]="pakal.id" [disabled]="isPakalSelected(pakal.id)"> {{pakal.name}} </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field floatLabel="never" hideRequiredMarker appearance="fill" style="margin:10px">
    <mat-label>כמות</mat-label>
    <input min="1" type="number" matInput required value=1 #pakalQuaantity>
    <!-- <mat-hint align="end">מינימום 5 תווים</mat-hint> -->
  </mat-form-field>
  <button mat-button mat-raised-button color="primary" (click)="addNewRow()">הוסף</button>
</form>

<mat-table id="warehouseUnitTable" [dataSource]="pakalsSelected" class="mat-elevation-z8">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> מזהה </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{getPakalObject(element.pakalId).id}} </mat-cell>
  </ng-container>

  <!-- pakal Column -->
  <ng-container matColumnDef="pakal">
    <mat-header-cell *matHeaderCellDef> פק"ל </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{getPakalObject(element.pakalId).name}} </mat-cell>
  </ng-container>

  <!-- quantity Column -->
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef> כמות </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <input min=1 type="number" placeholder="כמות" required [value]="element.quantity" name="pakal-quantity-{{element.pakalId}}" [(ngModel)]="element.quantity">
    </mat-cell>
  </ng-container>

  <!-- delete Column -->
  <ng-container matColumnDef=" ">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button [style.visibility]="pakals.length>1 ? 'visible' : 'hidden'" (click)="removePakalItem(element.pakalId)"
        mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<!-- <button (click)="addNewRow()" mat-button mat-raised-button color="primary">
  <mat-icon aria-label="Add">add</mat-icon>
</button> -->
<button (click)="saveData()" mat-button mat-raised-button color="primary">שמירה</button>