<div>
    <div>שם המשימה</div>
    <div>רשימת שמות מקושרת</div>
    <div>
        <span>משימה נוכחית&#63;</span>
        <span style="margin: 15px;">לא</span>
        <button mat-button mat-raised-button color="disabled">הגדר כמשימה נוכחית</button>
    </div>

    <div style="width: 200px; text-align: rtl;">
        <mat-select placeholder="סטטוס">
            <mat-option> חדש </mat-option>
            <mat-option> בעריכה </mat-option>
            <mat-option> מאושר </mat-option>
        </mat-select>
    </div>

</div>

