<app-manage-current-task></app-manage-current-task>

<mat-table id="warehouseUnitTable" #warehouseUnitTable [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> מזהה </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- pakal Column -->
    <ng-container matColumnDef="pakal">
      <mat-header-cell *matHeaderCellDef> פק"ל </mat-header-cell>
      <mat-cell *matCellDef="let element"> <input type="text" matInput required [value]=element.pakal name="pakal-{{element.id}}" [(ngModel)]="element.pakal"> </mat-cell>
    </ng-container>

        <!-- quantity Column -->
        <ng-container matColumnDef="signatureList">
            <mat-header-cell *matHeaderCellDef> רשימת החתמה </mat-header-cell>
            <mat-cell *matCellDef="let element">            
                <table>
                <tr *ngFor='let signature of element.signatureList; let signatureIndex=index'>
                    <td><input type="text" required [value]="signature.item" name="signature-item-{{signature.id}}" [(ngModel)]="signature.item"></td>
                    <td><input type="text" required [value]="signature.serialNumber" name="signature-serialNumber-{{signature.serialNumber}}" [(ngModel)]="signature.serialNumber"></td>
                    <td><input min="1" type="number" required [value]="signature.quantity" name="signature-quantity-{{signature.id}}" [(ngModel)]="signature.quantity"></td>
                    <td [style.visibility]="element.signatureList.length>1 ? 'visible' : 'hidden'" (click)="removeSignatureItem(element.id,signature.id)"><mat-icon aria-label="Delete">delete</mat-icon></td>
                    <td [style.visibility]="signatureIndex ==  element.signatureList.length-1 ? 'visible' : 'hidden'" (click)="addNewSignatureItem(element.id)"><mat-icon aria-label="add">add</mat-icon></td>
                </tr>
            </table> 
        </mat-cell>
          </ng-container>
  
    <!-- delete Column -->
    <ng-container matColumnDef=" "> 
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
            <button [style.visibility]="dataSource.length>1 ? 'visible' : 'hidden'" (click)="removePakalItem(element.id)" mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
        <mat-icon aria-label="Delete">delete</mat-icon> 
      </button>
    </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <button (click)="addNewRow()" mat-button mat-raised-button color="primary"><mat-icon aria-label="Add">add</mat-icon></button>
  <button (click)="saveData(warehouseUnitTable)" mat-button mat-raised-button color="primary">שמירה</button>