<button mat-raised-button (click)="openDialog(namesLists)">משימה חדשה</button>

<mat-table id="warehouseUnitTable" [dataSource]="tasks" class="mat-elevation-z8">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> מזהה </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> שם משימה </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- creationDate Column -->
  <ng-container matColumnDef="creationDate">
    <mat-header-cell *matHeaderCellDef> תאריך יצירה </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.creationDate}} </mat-cell>
  </ng-container>

  <!-- status Column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> סטטוס </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
  </ng-container>

  <!-- listNameId Column -->
  <ng-container matColumnDef="listNameId">
    <mat-header-cell *matHeaderCellDef> רשימת שמות מקושרת </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.listNameId}} </mat-cell>
  </ng-container>

  <!-- pakal isCurrentTask -->
  <ng-container matColumnDef="isCurrentTask">
    <mat-header-cell *matHeaderCellDef> משימה נוכחית </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.isCurrentTask}} </mat-cell>
  </ng-container>

  <!-- quantity Column -->
  <!-- <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> כמות </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <input min=1 type="number" placeholder="כמות" required [value]="element.quantity" name="pakal-quantity-{{element.pakalId}}" [(ngModel)]="element.quantity">
      </mat-cell>
    </ng-container> -->

  <!-- delete Column -->
  <ng-container matColumnDef=" ">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button [style.visibility]="tasks.length>1 ? 'visible' : 'hidden'" (click)="removeTask(element.id)"
          mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<!-- <button (click)="addNewRow()" mat-button mat-raised-button color="primary">
    <mat-icon aria-label="Add">add</mat-icon>
  </button> -->
<button (click)="saveData()" mat-button mat-raised-button color="primary">שמירה</button>