<app-manage-current-task></app-manage-current-task>

<mat-table id="allocatePakalTable" [dataSource]="pakalAllocated" class="mat-elevation-z8">
    <!-- pakal Column -->
    <ng-container matColumnDef="pakal">
        <mat-header-cell *matHeaderCellDef>
            <div class="header">פק"ל</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pakalName}} </mat-cell>
    </ng-container>
    <!-- pakal Column -->
    <ng-container matColumnDef="warehousePakal">
        <mat-header-cell *matHeaderCellDef>
            <div class="header">ימ"ח</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'over-limit': compareWarehouseVal(element) == 1, 'exact-limit': compareWarehouseVal(element) == 0,
        'below-limit': compareWarehouseVal(element) == -1}"> 
        <input matInput type="number" [value]="element.warehouseTotal" [(ngModel)]="element.warehouseTotal" disabled>
        </mat-cell>
    </ng-container>
    <!-- pakal Column -->
    <ng-container matColumnDef="squad1">
        <mat-header-cell *matHeaderCellDef>
            <div class="header">פלוגה 1</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"
            [ngClass]="{'over-limit': compareVal(element.squad1Total ,element.squad1Allocated) == 1, 
                                                        'below-limit': compareVal(element.squad1Total ,element.squad1Allocated) == -1}"> <input
                matInput type="number" [value]="element.squad1Allocated" [(ngModel)]="element.squad1Allocated"> <span class="slash">\</span> <input
                matInput type="number" [value]="element.squad1Total" [(ngModel)]="element.squad1Total" disabled> </mat-cell>
    </ng-container>
    <!-- pakal Column -->
    <ng-container matColumnDef="squad2">
        <mat-header-cell *matHeaderCellDef>
            <div class="header">פלוגה 2</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'over-limit': compareVal(element.squad2Total ,element.squad2Allocated) == 1, 
            'below-limit': compareVal(element.squad2Total ,element.squad2Allocated) == -1 }"> <input matInput
                type="number" [value]="element.squad2Allocated" [(ngModel)]="element.squad2Allocated"> <span class="slash">\</span> <input matInput
                type="number" [value]="element.squad2Total" [(ngModel)]="element.squad2Total" disabled> </mat-cell>
    </ng-container>
    <!-- pakal Column -->
    <ng-container matColumnDef="squad3">
        <mat-header-cell *matHeaderCellDef>
            <div class="header">פלוגה 3</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'over-limit': compareVal(element.squad3Total ,element.squad3Allocated) == 1, 
        'below-limit': compareVal(element.squad3Total ,element.squad3Allocated) == -1 }"> <input matInput type="number"
                [value]="element.squad3Allocated" [(ngModel)]="element.squad3Allocated"> <span class="slash">\</span> <input matInput type="number"
                [value]="element.squad3Total" [(ngModel)]="element.squad3Total" disabled> </mat-cell>
    </ng-container>
    <!-- pakal Column -->
    <ng-container matColumnDef="support">
        <mat-header-cell *matHeaderCellDef>
            <div class="header">מסייעת</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'over-limit': compareVal(element.supportTotal ,element.supportAllocated) == 1, 
            'below-limit': compareVal(element.supportTotal ,element.supportAllocated) == -1}"> <input matInput
                type="number" [value]="element.supportAllocated" [(ngModel)]="element.supportAllocated"> <span class="slash">\</span> <input matInput
                type="number" [value]="element.supportTotal" [(ngModel)]="element.supportTotal" disabled> </mat-cell>
    </ng-container>
    <!-- pakal Column -->
    <ng-container matColumnDef="headquarters">
        <mat-header-cell *matHeaderCellDef>
            <div class="header">מפקדה</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'over-limit': compareVal(element.headquartersTotal ,element.headquartersAllocated) == 1, 
        'below-limit': compareVal(element.headquartersTotal ,element.headquartersAllocated) == -1}"> <input matInput type="number"
                [value]="element.headquartersAllocated" [(ngModel)]="element.headquartersAllocated"> <span class="slash">\</span> <input matInput
                type="number" [value]="element.headquartersTotal" [(ngModel)]="element.headquartersTotal" disabled> </mat-cell>
    </ng-container>

    <!-- warehouse-quantity Column -->
    <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>
            <div class="header">סה"כ</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'over-limit': compareTotalVal(element) == 1, 'below-limit': compareTotalVal(element) == -1 }">
            <input matInput type="number" min="0"
                [value]="getAllAllocated(element)" disabled> <span class="slash">\</span> <input matInput
                type="number" min="0" [value]="getAllTotal(element)" disabled> 
            <!-- <input min=1 type="number" placeholder='ימ"ח' required [value]="element.warehouseTotal"
                name="warehouse-total-{{element.pakalId}}" [(ngModel)]="element.warehouseTotal"> -->
        </mat-cell>
    </ng-container>

    <!-- total-quantity Column -->
    <!-- <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> סה"כ </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <input min=0 type="number" placeholder='ימ"ח' required [value]="element.quantity"
                name="warehouse-quantity-{{element.pakalId}}" [(ngModel)]="element.quantity">
            <input min=0 type="number" placeholder='ימ"ח' required [value]="element.quantity"
                name="warehouse-quantity-{{element.pakalId}}" [(ngModel)]="element.quantity">
        </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>