#allocatePakalTable input{
    width: 40%;
    text-align: center;
}

#allocatePakalTable mat-cell{
    display: flex;
    justify-content: center;
    /* margin-left: 5px; */
}

#allocatePakalTable .header{
    width:100%;
    text-align:center; 
    color: black ;
    font: bold;
}

/* #allocatePakalTable .mat-header-cell{
    border: solid red 2px;
}

#allocatePakalTable .mat-cell{
    border: solid green 2px;
} */

#allocatePakalTable input{
    /* border: solid yellow 2px; */
    padding: 2%;
}

.over-limit{
    background-color: rgb(252, 45, 45);
}
.below-limit{
    background-color: yellow;
}

.exact-limit{
    background-color: rgb(47, 143, 47);
}